@{
    ViewBag.Title = "Maersk Line Container Management System";
}

<div class="jumbotron">
    <div style='text-align: center;font-size: 21px;font-weight: 100;line-height: 2.1428571435;'>
        <div style='font-family: "initial";font-weight: 300;font-size: 65px;line-height: 0.5;'>Maersk Line</div><br>
        <div style='font-family: "initial";font-weight: 100;font-size: 25px;line-height: 0.5;'>Container Management System (CMS)</div>
    </div>
</div>

<div id="mycarousel" class="carousel slide" data-ride="carousel" style="margin-top:-30px">
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0"></li>
        <li data-target="#mycarousel" data-slide-to="1" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src='@Url.Content("http://www.trbimg.com/img-59963910/turbine/la-fi-maersk-cyberattack-20170817")' />
            <div class="carousel-caption">
                <p>use this to slide</p>
            </div>
        </div>

        <div class="item">
            <img src='@Url.Content("http://www.maerskdrilling.com/~/media/media-center/pressrelease/maersk-drilling.jpg")' />
            <div class="carousel-caption">
                <p>use this to slide</p>
            </div>
        </div>

        <div class="item">
            <img src='@Url.Content("https://3b6xlt3iddqmuq5vy2w0s5d3-wpengine.netdna-ssl.com/state-of-security/wp-content/uploads/sites/3/maersk-triple-e-section-deck-main-1280x642.jpg")' />
            <div class="carousel-caption">
                <p>use this to slide</p>
            </div>
        </div>
    </div>


    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div style="font-size:15px;">
    <br />
    <p>
        Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate.
        It is the world's largest container shipping company having customers through 374 offices in 116 countries. It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company was founded in 1928.
        <br />
        The Maersk Line Container Management System (CMS) is designed and developed to cater to manage the containers as well as a solution that reduces overall supply chain costs and an efficient way to manage logistics.
    </p>
</div>